<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/profile.css">
<title>Login</title>

<%- include("./partials/headers/navbar.ejs") %>

<h1>hello</h1>

<%- include("./partials/footer.ejs") %>